@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Open+Sans:ital,wght@1,300&display=swap');
* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}

div {
  position: relative;
  z-index: 2;
}

body {
  background-color: #333;
  color: #333;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#quote-box {
  border-radius: 3px;
  position: relative;
  margin: 8% auto auto auto;
  max-width: 550px;
  padding: 60px 90px;
  display: table;
  background-color: #fff;
  .quote-text {
    i {
      font-size: 2em;
      margin-right: 0.4em;
    }
    text-align: center;
    max-width: 550px;
    height: auto;
    clear: both;
    font-weight: 500;
    font-size: 1.75em;
  }
  .quote-author {
    max-width: 550px;
    height: auto;
    clear: both;
    padding-top: 20px;
    font-size: 2em;
    text-align: right;
  }
  .buttons {
    max-width: 550px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    .button {
      height: 50px;
      border: none;
      border-radius: 3px;
      color: #fff;
      background-color: #333;
      outline: none;
      font-size: 0.85em;
      padding: 8px 18px 6px 18px;
      margin-top: 30px;
      opacity: 1;
      cursor: pointer;
      &:hover {
        opacity: 0.9;
      }
      &#tweet-quote
       {
        float: left;
        padding: 0px;
        padding-top: 8px;
        text-align: center;
        font-size: 1.2em;
        margin-right: 5px;
        height: 43px;
        width: 40px;
      }
      &#new-quote {
        float: right;
      }
    }
  }
}


@media screen and (max-width: 324px) {
  .buttons{
        justify-content: space-between;
  }
}

@media screen and (max-width: 320px) {
    #quote-box{
      padding: 10px 20px;
    }
  }